@import url('link rel="preconnect" href="https://fonts.gstatic.com"');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet"')

/*
how should i use font for everything 

*/


:root {
    max
    font-family: 'Montserrat', sans-serif;
    --main-font: 'Montserrat', sans-serif;
    --text-color: 2c1942;
    scroll-behavior: smooth;
    --delay: 0.2s;
    --text-color: #2c1942f1;
    --hover-text-color: #f18c60;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #2f1745e1;
    max-width: 1200px;
    margin: auto;
}



header {
    font-family: 'Montserrat', sans-serif;
}

header .logo {
    min-width: 240px;
    display: block;
    margin: 10px;
    max-height: 29px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    border: 1px solid transparent;
    padding: 3px;
    color: #2c1942e1;
}

header .phone_number {
    display: none;
}

header .menu {
    display: none;
}

header .social {
    display: none;
}

@media (min-width:908px) {

    header nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header nav .phone_number {
        display: block;
        margin: 0 10px 0 10px;
        max-height: 29px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1.5px;
        border: 0;
        padding: 0;
        color: #2c1942f1;
    }

    header nav .menu {
        display: flex;
        align-items: center;
        margin: 0 10px 0 10px;
        height: 29px;
        text-decoration: none;
        border: 0;
        padding: 0;
        color: #2c1942f1;
    }

    header nav .menu #portfolio {
        display: block;
        margin: 0 7px 0 7px;
        text-decoration: none;
        color: #2c1942f1;
        border: 0;
        padding: 0;

    }

    header nav .menu #book_appointment {
        display: block;
        margin: 0 7px 0 7px;
        text-decoration: none;
        color: #2c1942f1;
        border: 0;
        padding: 0;

    }

    header nav .menu #contacts {
        display: block;
        margin: 0 7px 0 7px;
        text-decoration: none;
        color: #2c1942f1;
        border: 0;
        padding: 0;

    }
  
    header nav .menu #portfolio:hover {
        color: #e3a693;
    }

    header nav .menu #book_appointment:hover {
        color: #e3a693;
    }

    header nav .menu #contacts:hover {
        color: #e3a693;
    }

    header nav .social {
        display: flex;
    }

    header .social_a #start_facebook, #start_instagram, #start_youtube {
        display: block;
        margin: 0 4px 0 4px;
        height: 23px;
        width: 23px;
    }

    #start {
        height: 23px;
    }

    header .social .social-hover {
        display: none;
    }

    /* header .social_a img .social-hover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
    }

   header .social_a img:hover .social-hover{
        opacity: 1;
    }   
    */
}



#banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    min-height: 750px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}


h1 {
    color: #2f1745f1;
    font-size: 18.5px;
    font-weight: 400;
    letter-spacing: 0.5px;

}

.h_one_container {
    height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.h_one_container h1 {
    display: block;
    margin: 0 2px 20px 10px;
}

.book_button_container {
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

button {
    appearance: button;
    opacity: 0.5;
    background-image: linear-gradient(to right, #e2798af1 , #e3a693f1);
    text-transform: uppercase;
    font-size: 14.5px;
    font-weight: 200;
    letter-spacing: 0.5px;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    transition: background-color 1s;
    border:#fbfbfdf1;

}

button:hover {
    border: none;
}

.button_app {
    display: block;
    margin: 0 0 0 5px;
}

button:hover {
    opacity: 1;
    delay: 0.4s;
}

#welcome {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 0 70px 0;
}

#welcome .spaces {
    display: flex;
    justify-content: center;
}

#welcome img {
    width: 70px;
    height: 70px;
}

#welcome h2 {
    text-align: center;
    margin: 40px 0 70px 0;
    letter-spacing: 0.5px;
}

#welcome p {
    max-width: 500px;
    text-align: center;
    margin: auto;
    letter-spacing: 0.3px;
}

#working_hours {
    display: flex;
    justify-content: center;
    background-color: #f7f8fa;
}

#working_hours .image {
    margin: 50px 0 50px 0; 
    max-width: 500px;
    min-width: 310px;
    background-image: linear-gradient(to right, #e3a693, #e2798a );
    border-radius: 18px;
    display: flex;
    flex-direction: column;
}

#working_hours .image h3 {
    margin: 7px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: white;
}

#working_hours .image p {
    text-align: center;
    letter-spacing: 0.3px;
    color: white;
    margin 0;
}

#carouselExampleCaptions h5 {
    color: #2c1942f1;
    opacity: 0.8;
}

#carouselExampleCaptions p {
    color: #2c1942f1;
    opacity: 0.8;
}

.price-section-h2 {
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0;
}

.price_headers {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

.price_headers button {
    margin: 0 5px 0 5px;
    opacity: 1;
    background-image:none;
    background-color: white; 
    color:  #2f1745e1;
    text-transform: uppercase;
    font-size: 14.5px;
    font-weight: 200;
    letter-spacing: 0.5px;
    border-radius: 0;
    padding: 10px 20px;
}

.price_headers button:hover {
    color: #e3a693;
    transition: 0,5s;
}

.price-contaiiner {
    display: flex;
    justify-content: space-between;
}

.price-contaiiner .money-amount p{
    color: #e3a693;
    margin: 2px 7px 2px 2px;
    
}

.price-contaiiner .price-info {
    margin: 2px 2px 2px 7px;
}

.style-container, .body-painting-container, .make-up-contaiiner{
    display: block;
}

@media(min-width:475px) {
    .style-container, .body-painting-container, .make-up-contaiiner{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

.displayOff {
    display: none;
}

#price_selection {
    margin: 0 0 50px 0;
}

#brands-i-use {
    background-color: #f7f8fa;
    opacity: 1;
}

.biu-header {
    display: flex;
    justify-content: center;
    padding: 50px 50px 50px 50px;
    background-color: #f7f8fa;
}



.brands {
    display: block;
    background-color: #f7f8fa;
    padding: 0 0 50px 0;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    background-image: linear-gradient(to right, #e2798af1 , #e3a693f1);
    color: white;
    border: 4px solid #f7f8fa;
    border-radius: 25px;
    padding: 10px 20px;
}

.brand p{
    font-size: 20.5px;
}

@media (min-width:475px){
    .brands {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media (min-width:780px){
    .brands {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
}
#portfolio {
    max-width: 1280px;
}

.portfolio-header {
    display: flex;
    justify-content: center;
    margin: 50px 0 20px 0;
}

.portfolio-container {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

.portfolio-images {
    margin: 20px 20px 20px 20px;
    border: 2px solid white;
    border-radius: 11px;
}

@media(min-width:650px) {
    .portfolio-container {
        display: grid;
        grid-template-columns: 50% 50%;
        
    }
}

@media(min-width:980px) {
    .portfolio-container {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        
    }
}
#email {
    background-image: url(../img/email-pic.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: block;
}

.email {
    height: 400px;
    min-width: 320px; 
    justify-content: center;
    background-image: white;
    background-size: cover;
    background-position: center;
}

.empty {
    display: none;
}

.email-h2 {
    padding: 220px 0 20px 40px;
}

.email-p {
    padding: 0 0 20px 40px;
}

.email-pl {
    padding: 0 0 20px 40px;
}

.email-input {
    opacity: 0.85;
    font-family: 'Montserrat', sans-serif;
    border: none; 
    border-radius: 12px;
    min-width: 320px;
}

.subscribe-email {
    min-width: 320px;
    background-color: #f4e6dd99;
    opacity: 0.8;
}

@media(min-width:650px) {
    #email {
        display: grid; 
        grid-template-columns: 50% 50%;
    }
}

#about-me {
    padding: 100px 0 100px 0;
    display: block
}

@media(min-width:910px) {
    #about-me {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

.about-me-info {
    display: block;
}

.about-me-pics {
    display: grid;
    grid-template-columns: 50% 50%;
}

.about-me-img {
    min-width: 150px;
    max-width: 220px;
    height: relative;
}

.about-me-h2 {
    padding: 60px 0 10px 20px;
}

.about-me-p {
    padding: 10px 0 10px 20px;
}

.about-me-pics {
    padding: 10px 5px 10px 30px;
}

.about-me-img {
    padding: 10px 10px 10px 10px;
}

#bentsak-yulia {
    display: grid;
    grid-template-columns: 25% 75%;
}

.yulia-pic {
    justify-self: end;
    padding: 40px 30px 0 0;
}

.yulia-info {
    padding: 10px 40px 10px 10px
}

.yulia-info h2 {
    font-size: 27.5px;
    letter-spacing: 0.5px;
}

.yulia-info-p p {
    font-weight: 535;
}
.yulia-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

#about-me-social {
    display: flex;
    justify-content: center;
    padding: 0 0 75px 0;
}

.about-me-social-icons {
    width: 200px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.about-me-social-icons img {
    width: 23px;
    height: 23px;
}

#moto {
    padding: 75px 0 45px 0;
    background-image: linear-gradient(to right, #e2798a99 , #e3a69399);
}


.yul-moto {
    display: flex;
    justify-content: center;
}

.yul-moto p{
    font-size: 18px;
}

.yb {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}

.yb p {
    font-size: 21px;
}

#reviews {
    padding: 75px 0 50px 0;
}

.reviews-h2 {
    padding: 0 0 50px 0;
    display: flex;
    justify-content: center;
}

.karen-bonera-pic, .zack-royes-pic, .megan-frost-pic, .character, .review {
    display: flex;
    justify-content: center;
    padding: 10px 15px 10px 15px;
}

.character, .review {
    text-align: center;
}

.character p, .review p {
    max-width: 450px;
}

.karen-bonera-img, .zack-royes-img, .megan-frost-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#gift-cards {
    padding: 100px 0 50px 0;
}

.gift-cards-h2 {
    display: flex;
    justify-content: center;
    padding: 0 0 30px 0;
}

.gift-cards {
    display: flex;
    justify-content: center;
}

.gift-card-img {
    max-width: 300px;
    padding: 10px 15px 10px 15px;
    border-radius: 10%;
}

.buy-gift-card {
    display: flex;
    justify-content: center;
    padding: 30px 0 50px 0;
}

#contact-me {
    padding: 75px 15px 75px 15px;
    background-size: cover;
    background-position: center;
    height: 600px;
    background-image: url(../img/contact_background.jpg);
    display: flex;
    justify-content: center;
}

.empty-contact-me {
    display: none;
}

.contact-me-form {
    display: block;
    height: 450px;
    min-width: 320px;
    max-width: 450px;
    background-color: white;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    opacity: 0.95;
    
}


.contact-me-h2, .contact-input, .chosen-services-d, .book-appointment {
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}

.input-contact, #chosen-services-values{
    width: 320px;
    max-width: 420px;
    border-radius: 20px;
    background-color: #eaeaea;
    color: #2c1942f1;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-sizing: border-box;
    font-size: 11px;
}

.contact-me-h2 h2{
    font-size: 20px;
    text-align: center;
    margin: 40px 0 0 0;
}

@media(min-width:640px){
    
    .empty-contact-me {
        display: block;
    }   
    
    #contact-me {
        display: grid;
        grid-template-columns: 50% 50%;
    }

}

#contacts {
    padding: 100px 0 100px 0;
}

.contacts-h2 {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
}

.contacts-yb {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0 20px 0;
}

.contacts-yb h2{
    color: #e3a693;
}

#countdown-container {
    display: flex;
    justify-content: center;
}


#countdown {
    padding: 20px 10px 20px 10px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#sale-h2 {
    text-align: center;
}

.time {
    padding: 10px 20px 10px 20px;
    justify-self: center;
}

